# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.env
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
backup
movistarempresas-firmado.apk
mimovistarempresas.apk
HelloWorld-release-unsigned.apk
.git/
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.scannerwork/
coverage/
www/
*/www/*
# Ignore the build directory
/dist

node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

*.icloud